@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-image: url("./public/bg.jpg");
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}
